/Code D1Mini/AnimatedEyes/.theia/*
/Code D1Mini/AnimatedEyes/.vs/*
/Code D1Mini/AnimatedEyes/__vm/*
/Code D1Mini/AnimatedEyes/Release/*
/Source/Stl Files/*
/Source/Reference/*
/Code UniMini ESP8266/AnimatedEyes/.vs/*
/Code UniMini ESP8266/AnimatedEyes/__vm/*
